:root {
    --purple: hsl(256, 26%, 20%);
    --grayish-blue:  hsl(216, 30%, 68%);
    --dark-purple:  hsl(270, 9%, 17%);
    --gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}


