@use '../util/' as util;

nav {
    font-family: util.$fontk;
    font-size: .7rem;
    font-weight: 500;
}

.navmenu {
    display:flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: var(--grayish-purple);
        
    }
    :hover {
                color: var(--purple);
                transition: .3s;
        
            }
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    min-width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}