@use '../util/' as util;


.navmenu {
    display:flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: var(--grayish-purple);
        
    }
    :hover {
                color: var(--purple);
                transition: .3s;
        
            }
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    min-width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}