@use '../util/' as util;




body {
    font-size: 1rem;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: util.$fontd;
    line-height: 3.4rem;
    text-wrap: wrap;
    width: 22rem;
    padding-bottom: 1rem;
    padding-top: 1.4rem;
    
}
h1::before {
    content: "";
    margin: 0;
    display: block;
    height: 1.4rem;
    width: 6.5rem;
    background-color: var(--dark-purple);
    border-top: 0.02rem solid var(--white);
}

h2 {
    color: var(--black);
    font-size: 3rem;
    font-weight: 100;
    font-family: util.$fontd;
    line-height: 3.4rem;
    width: 22rem;
    padding-bottom: 2rem;

    
    
}
h2::before {
    content: "";
    margin: 0;
    display: block;
    height: 1.4rem;
    width: 6.5rem;
    background-color: var(--white);
    border-top: 0.02rem solid var(--grayish-purple);
}
h3 {
    margin: 0;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 400;
    font-family: util.$fontd;
    line-height: 2.5rem;
    width: 22rem;

}
h4 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: .8 rem;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
    font-family: util.$fontd;
    
    
}
